@use "./variables.scss" as *;

// put your custom CSS here!
hr {
  display: none !important;
}

/* Убираем желтый фон со ссылок и выделенного текста */
a, 
a.internal, 
mark {
  background: transparent !important;
  background-color: transparent !important;
  padding: 0 !important;
}

p, article {
  font-size: 1.1rem;   /* По умолчанию около 1rem (16px). Можно указать в px: 18px */
  line-height: 1.6;    /* Межстрочный интервал для комфортного чтения */
}
